* {
    background-color:rgb(245, 240, 205);    
    font-family: "Times New Roman";

}

.class{
    list-style-type: none;
    font-size: 30px;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

.fix{
    position:sticky;
    top: 0px;
}
.menu{
    text-align: right;
}
.footer{
    text-align: center;
    background-color: 	#556B2F;
    margin-top: 30px;
    position: fixed;
    width: 100%;
    bottom: 20px;
}

h1{
    color: rgb(6, 6, 9);
    text-transform:uppercase;
    text-align: center;
}

.menu{
    text-align: right;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: #556B2F;
}