* {
    background-color:rgb(245, 240, 205);    
    font-family: "Times New Roman";

}

h1, h2{
    color: rgb(6, 6, 9);
    text-transform:uppercase;
    text-align: center;
}

.menu{
    text-align: right;
}

div{
  max-width: 500px;
  height: 100px;
  background-color: powderblue;
}

.photo{
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  height: 265px;
}

/* .footer{
    text-align: center;
    background-color: 	#556B2F;
    bottom: 0%;
} */
